body {
	overflow: none;
	font-family: 'Handlee', cursive;
}

img {
	position:  relative;
	left: 1035px;
	bottom: 90px;
	width: 10%;
	padding-left: 70px;
}

p {
	position: relative;
	width: 40%;
	bottom: 110px;
	font-size: 30px;
	text-align: justify;
}

form {
	width: 50%;
	position: relative;
	bottom: 380px;
	left: 600px;
}

input {
	font-family: 'Handlee', cursive;
	font-weight: bold;
	font-size: 20px;
	color: #b3b3b3;
	width: 90%;
	border: none;
	border-bottom: 2px solid #b3b3b3;

}


#top {
	position: relative;
	height: 50%;
}

#main-title {
	position: relative;
	top: 50px;
	font-size: 40px;

}

#middle {
	width: 100%;
	padding: 5px;
	top: 10px;
}


#bottom {
	position: relative;
	left: 460px;
	bottom: 190px;
}

#submit {
	padding: 5px 20px;
	font-family: 'Handlee', cursive;
	font-size: 25px;
	font-weight: bold;
	background-color: #c5c7c9;
}



